{% extends 'allianceauth/base-bs5.html' %}
{% load static i18n %}
{% block page_title %}{% trans 'Sovereignty Planner' %}{% endblock %}
{% block extra_css %}{{ block.super }}<link rel="stylesheet" href="{% static 'aasov/planner.css' %}">{% endblock %}
{% block content %}
<div class="container-fluid sov-planner">
  {% block planner_heading %}<div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-2">
    <div><h1 class="h4 mb-0">{% trans 'Sovereignty Planner' %}</h1></div>
    <a class="btn btn-secondary" href="{% url 'aasov:index' %}">{% trans 'All projects' %}</a>
  </div>
  {% endblock %}
  {% block planner_content %}{% endblock %}
</div>
{% endblock %}
